<div class="cart-container">
  <h2 class="cart-header">Shopping Cart</h2>
  <div *ngFor="let product of cartItems?.products" class="cart-item">
    <img [src]="product?.image" [alt]="product?.name" class="product-image">
    <div class="product-details">
      <p class="product-name">{{ product.name }}</p>
      <p class="product-price">Price: ${{ product.price }}</p>
    </div>
    <button (click)="removeFromCart(product.id)" class="remove-button">Remove</button>
  </div>
  <div class="total-price">
    <p>Total Price: ${{ totalCartPrice }}</p>
  </div>
  <button (click)="purchaseCartItems()" class="purchase-button">Purchase</button>
</div>
