<div class="h-100 d-flex align-items-center">
  <div class="card login-form rounded">
    <h1 class="mb-2 text-center border-bottom">Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group mb-2">
        <mat-label>Email</mat-label>
        <input type="text" formControlName="email" matInput
               [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput
               [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </mat-form-field>

      <div *ngIf="errorMessage !== ''" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>

      <div class="form-group mt-4">
        <button type="submit" class="btn btn-dark form-control">Login</button>
      </div>
      <div class="text-center mt-2 text-muted">Don't have an account? <a class="link-dark" routerLink="/register">Sign Up</a></div>
    </form>

  </div>
</div>
