<div class="h-100 d-flex align-items-center">
  <div class="register-form rounded">
    <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="text-center border-bottom mb-4 pb-2">Sign Up</h1>
      <div class="row">
        <mat-form-field class="col form-group">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstname"
                 [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"/>
          <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
            <div *ngIf="f['firstname'].errors['required']">First name is required</div>
          </div>
        </mat-form-field>

        <mat-form-field class="col form-group">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastname"
                 [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }"/>
          <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
            <div *ngIf="f['lastname'].errors['required']">Last name is required</div>
          </div>
        </mat-form-field>
      </div>

      <mat-form-field class="form-group">
        <mat-label>Phone number</mat-label>
        <input type="text" formControlName="phonenumber" matInput
               [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }"/>
        <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
          <div *ngIf="f['phonenumber'].errors['required']">Phone number is required</div>
        </div>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Email</mat-label>
        <input type="text" formControlName="email" matInput
               [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput
               [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="f['password'].errors['maxlength']">
            Password must not exceed 40 characters
          </div>
        </div>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label>Confirm Password</mat-label>
        <input type="password" formControlName="confirmPassword" matInput
               [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"/>
        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
          <div *ngIf="f['confirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['confirmPassword'].errors['mustMatch']">
            Confirm Password does not match
          </div>
        </div>
      </mat-form-field>

      <div class="form-group">
        <div *ngIf="errorMessage !== ''" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark form-control">Register</button>
      </div>
    </form>
  </div>
</div>
