<form [formGroup]="form" (submit)="onSubmit()">
  <div class="add-product-container" *ngIf="isLoggedIn">
    <a routerLink="/create-product" class="btn btn-dark me-2">Add product</a>
  </div>

  <section class="suggested-products">
    <div>
      <h3 class="section-title">Suggested Products</h3>
    </div>
    <div class="suggested-product-container">
      <div class="suggested-product-card" *ngFor="let product of suggestedProducts">
        <img [src]="product?.image" [alt]="product?.image" class="product-image">
        <h2 class="product-title">{{ product.name }}</h2>
        <p class="product-price">{{ product.price }} MKD</p>
        <button *ngIf="isLoggedIn" (click)="addToCart(product.id)" class="btn btn-primary">Add to Cart</button>
      </div>
      <!--      <button class="more-button">More</button>-->
    </div>
  </section>

  <div class="section-title-container">
    <h3 class="section-title">Other products in shop</h3>
  </div>

    <section class="product-list">
      <article class="product-card" *ngFor="let product of products">
        <img [src]="product?.image" [alt]="product?.image" class="product-image">
        <h2 class="product-title">{{ product.name }}</h2>
        <p class="product-price">{{ product.price }} MKD</p>
        <button *ngIf="isLoggedIn" (click)="addToCart(product.id)" class="btn btn-primary">Add to Cart</button>
      </article>
    </section>

</form>
