/* You can add global styles to this file, and also import other style files */
:root {
  /* --main-bg-color: #65ccb8;
  --secondary-bg-color: #57ba98;
  --dark-color: #182628;
  --light-color: #f2f2f2;
  --main-dark-color: #3b945e; */

  --main-bg-color: #def2f1;
  --secondary-bg-color: #3aafa9;
  --dark-color: #17252a;
  --light-color: #feffff;
  --main-dark-color: #2b7a78;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
